body {
    padding-top: 70px; /* верхнее смещение, из-за меню*/
}

.list-group.list_of_items {
    padding-top: 10px;
}

.list-group-item2 {
    min-height: 54px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.form-task {
    width: 135px;
}

.input-group-btn {
    width: auto;
}

.input-group-addon {
    width: 140px !important;
    line-height: 100%;
    line-height: inherit;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}