body {
    padding-top: 70px; /* верхнее смещение, из-за меню*/
}

.list-group.list_of_items {
    padding-top: 10px;
}

.list-group-item2 {
    min-height: 54px;
}

.right {
    float: right;
}

.left {
    float: left;
}